.user-info-container{
    margin-top: 150px;
    padding: 10px;
    .bubble {
        position: relative;
        font-family: sans-serif;
        font-size: 18px;
        line-height: 24px;
        width: 300px;
        background: #fff;
        border-radius: 40px;
        padding: 24px;
        text-align: center;
        color: #000;
        font-weight: bold;
    }

    .bubble-bottom-left:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 24px solid #fff;
        border-right: 12px solid transparent;
        border-top: 12px solid #fff;
        border-bottom: 20px solid transparent;
        left: 32px;
        bottom: -24px;
    }
      
    h1 {
        border-bottom: 3px solid #FFFBF5;
        color: #FFFBF5;
        width: min-content;
        white-space: nowrap;
    }
    .user-options{
        list-style: none;
        .u-option{
            display: inline;
            margin: 10px;
            button{
                background-color: #7743DB;
                color: #FFFBF5;
            }
        }
    }

}
.playlist-container{
    margin-top: 50px;
    margin-left: 10px;
    width: 90%;
    
    h1 {
        margin-left: 10px;
        border-bottom: 3px solid #FFFBF5;
        color: #FFFBF5;
        width: min-content;
    }
    .playlist-list{
        list-style: none;
        overflow-x: auto;
        background:linear-gradient(to bottom, #7743DB, #6627dc);
        width: 100%;
        border-left: 6px solid #FFFBF5;
        border-right: 6px solid #FFFBF5;
        box-sizing: border-box;
        white-space: nowrap;
        height: 250px;

        .playlist-item{
            // border: solid black 1px;
            width: 200px;
            display: inline-block;
            .playlist-image{
                // padding: auto;
                margin: auto;
                margin-top: 30px;
                width: 150px;
                height: 150px;
                border-radius: 10px;
                border: 4px solid #FFFBF5;
                background-color:  #b88bd2;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    color:#FFFBF5;
                    font-size: 50px;
                    
                }
            }
            .playlist-name{
                text-align: center;
                
                button{
                    margin-top: 15px;
                    text-align: center;
                    background-color: #FFFBF5;
                    font-size: 15px;
                }
            }
        }
    }
    .playlist-options{

        .p-option{
            display: inline-block;  
            button{
                margin-bottom: 60px;
                background-color: #7743DB;
                color: #FFFBF5;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }