.footer {
  color: white;
  background-color: black;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container p {
  padding: 5px;
  font-size: 18px;
}
