mat-toolbar {
    background: transparent;
    position: fixed;
    margin-top: 20px;
    
}

.logo {
    width: 15%; /* 10% width */
    color: white;
    text-align: center;
  }

  .logo h1{
    font-size: 25px;
  }



  