<!-- <div class="nav-bar">
    <ul class="nav-items-container">
        <li class="logo-container">
                <button class="logo" mat-button>TuneHub</button>
        </li>
        <li class="nav-bar-item">
            <button mat-button><span>Home</span></button>
        </li>
        <li class="nav-bar-item">
            <button mat-button>About Us</button>
        </li>
        <li class="nav-bar-item">
            <button mat-button><i class="fa fa-user-circle" aria-hidden="true"></i></button>
        </li>
        <li class="nav-bar-item">
            <button mat-button><i class="fa fa-cloud" aria-hidden="true"></i></button>
        </li>
        <li class="nav-bar-search">
            <mat-form-field>
                <button class="search-button" matSuffix><mat-icon>search</mat-icon></button>
                <input matInput placeholder="label" value="Search">
            </mat-form-field>
        </li>

    </ul>
</div> -->
<div class="nav-bar">
    <ul class="nav-logo-container">
        <li class="logo-container">
                <span class="logo"mat-button><span>TuneHub</span></span>
        </li>
    </ul>
    <ul class="nav-items-container">
        <li class="nav-items">
            <button *ngIf="!loginStatus"  mat-button routerLink=""><span>Join us</span></button>
        </li>
        <li class="nav-items">
            <button *ngIf="!loginStatus"  mat-button routerLink="about-us"><span>About Us</span></button>
        </li>
        <li class="nav-items">
            <button *ngIf="loginStatus" routerLink="explore" mat-button><span>Explore</span></button>
        </li>
    </ul>
    <ul class="nav-search-container">
        <li class="nav-items">
            <button *ngIf="loginStatus" routerLink="profile" mat-button><i class="fa fa-user-circle" aria-hidden="true"></i></button>
        </li>
        <li class="nav-items">
            <button *ngIf="loginStatus" routerLink="chat" mat-button><i class="fa fa-comment" aria-hidden="true"></i></button>
        </li>
        <li class="nav-items">
            <button *ngIf="loginStatus" mat-button (click)="logout()"><mat-icon>exit_to_app</mat-icon></button>
        </li> 
        <!-- <li class="nav-items">
            <input type="text" name="" id="">
        </li>
        <li class="nav-items">
            <button mat-button><mat-icon>search</mat-icon></button>
        </li> -->
     
    </ul>
</div>