<div *appIsArtist="true" class="container">
    <div class="artist-info-container">
        <h1>Welcome</h1>
        <ul class="artist-options">
            <li class="u-option">
                <button mat-raised-button (click)="openAddSongDialog()">Upload song</button>
            </li>
            <li class="u-option">
                <button mat-raised-button>Upload album</button>
            </li>
            <li class="u-option">
                <button mat-raised-button (click)="openAddEventDialog()">Add event</button>
            </li>
        </ul>
    </div>
    <hr>
    
    <div class="events-container">
        <h2>Upcoming Events</h2>
      
        <ng-container *ngIf="events && events.length > 0; else noEvents">
          <ul class="events-list">
            <li class="event-item" *ngFor="let event of events">
              {{ event.name }} - {{ event.date | date }}: {{ event.category }}
              <button mat-icon-button color="primary" (click)="editEvent(event)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteEvent(event)">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            </li>
          </ul>
        </ng-container>
      
        <ng-template #noEvents>
          <p>No upcoming events</p>
        </ng-template>
      </div>
      
      
    <div  class="album-container">
        <h1>Albums</h1>
        <ul class="album-list">
            <li class="album-item">
                <div class="album-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="album-name">Rock</div>
            </li> 
            <li class="album-item">
                <div class="album-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="album-name">Pop</div>
            </li> 
            <li class="album-item">
                <div class="album-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="album-name">Reggae</div>
            </li> 
            <li class="album-item">
                <div class="album-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="album-name">Rock</div>
            </li> 
            <li class="album-item">
                <div class="album-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="album-name">Pop</div>
            </li> 
            <li class="album-item">
                <div class="album-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="album-name">Reggae</div>
            </li> 
            
        </ul>
    </div>

    <div  class="song-container">
        <h1>Songs</h1>
        <ul class="song-list">
            <li class="song-item">
                <div class="song-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="song-name">Rock</div>
            </li> 
            <li class="song-item">
                <div class="song-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="song-name">Pop</div>
            </li> 
            <li class="song-item">
                <div class="song-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="song-name">Reggae</div>
            </li> 
            <li class="song-item">
                <div class="song-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="song-name">Rock</div>
            </li> 
            <li class="song-item">
                <div class="song-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="song-name">Pop</div>
            </li> 
            <li class="song-item">
                <div class="song-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="song-name">Reggae</div>
            </li> 
        </ul>
    </div>

</div>
