<div *appIsArtist="true" class="container">
    <div class="artist-info-container">
        <h1>Welcome</h1>
        <ul class="artist-options">
            <li class="u-option">
                <button mat-raised-button (click)="openAddSongDialog()">Upload song</button>
            </li>
            <li class="u-option">
                <button mat-raised-button>Upload album</button>
            </li>
            <li class="u-option">
                <button mat-raised-button (click)="openAddEventDialog()">Add event</button>
            </li>
        </ul>
    </div>
    <div  class="album-container">
        <h1>Albums</h1>
        <ul class="album-list">
            <li class="album-item">
                <div class="album-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="album-name">Rock</div>
            </li> 
            <li class="album-item">
                <div class="album-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="album-name">Pop</div>
            </li> 
            <li class="album-item">
                <div class="album-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="album-name">Reggae</div>
            </li> 
            <li class="album-item">
                <div class="album-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="album-name">Rock</div>
            </li> 
            <li class="album-item">
                <div class="album-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="album-name">Pop</div>
            </li> 
            <li class="album-item">
                <div class="album-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="album-name">Reggae</div>
            </li> 
            
        </ul>
    </div>

    <div  class="song-container">
        <h1>Songs</h1>
        <ul class="song-list">
            <li class="song-item">
                <div class="song-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="song-name">Rock</div>
            </li> 
            <li class="song-item">
                <div class="song-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="song-name">Pop</div>
            </li> 
            <li class="song-item">
                <div class="song-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="song-name">Reggae</div>
            </li> 
            <li class="song-item">
                <div class="song-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="song-name">Rock</div>
            </li> 
            <li class="song-item">
                <div class="song-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="song-name">Pop</div>
            </li> 
            <li class="song-item">
                <div class="song-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="song-name">Reggae</div>
            </li> 
        </ul>
    </div>

</div>
