<div  class="password-form-container">
    <div  class="password-form">
        <h2>Change password</h2>
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <mat-form-field>
                <mat-label for="newPassword">New Password</mat-label>
                <input matInput type="password" id="newPassword" name="newPassword" formControlName="newPassword" required>
                <mat-error *ngIf="hasPasswordError('newPassword', 'required')">This field is required</mat-error>
                <mat-error *ngIf="hasPasswordError('newPassword', 'minlength')">Password must be at least 8 characters</mat-error>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label for="confirmPassword">Confirm Password</mat-label>
                <input matInput type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" required>
                <mat-error *ngIf="hasPasswordError('confirmPassword', 'required')">This field is required</mat-error>
                <mat-error *ngIf="hasPasswordError('confirmPassword', 'match')">Las contraseñas no coinciden</mat-error>

            </mat-form-field>

            <div class="button-container">
                <button mat-raised-button type="submit">Change Password</button>
                <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
            </div>
            </form>
    </div>
</div>
