.section1 {
    height: 100vh;
    width: 25%;
    background: linear-gradient(to bottom, #7743DB, #6627dc);
    float: left;
    z-index: -1000;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */


    .user-image-container {
        width: 100%;
        text-align: center;
        margin-top: 150px;

        .user-image {
            font-size: 180px;
            color: #FFFBF5;
        }
    }

    h2 {
        text-align: center;
        color: #FFFBF5;
        margin: 10px 0;
    }

    button {
        margin-top: 20px; 
    }
}



.section2 {
    height: 100vh; /* Full viewport height */
    width: 75%; /* 75% width */
    background: linear-gradient(to bottom, #C3ACD0, #b88bd2);
    float: left;
    z-index: -1000;
      
}


