.section1 {
  height: 110vh;
  width: 70%;
  background: linear-gradient(to bottom, #7743DB, #6627dc);
  float: left;
  z-index: -1000;
}

.section2 {
  height: 110vh;
  width: 30%;
  background: linear-gradient(to bottom, #C3ACD0, #b88bd2);
  float: left;
  z-index: -1000;
}

.signup-section {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;

  .signup-container {
    text-align: center;
    width: 30%;
    background: white;
    border-radius: 25px;
    margin-top: 100px;
    margin-bottom: 60px; /* Agrega un espacio inferior para evitar superposición con el pie de página */
    

    mat-form-field {
      margin-top: 10px;
    }

    .signup-list {
      list-style: none;
      display: inline;

      li {
        margin-top: 10px;
      }

      li button {
        background-color: #7743DB;
        color: #FFFBF5;
        border-radius: 50px;
        min-width: 100px;
        margin-bottom: 10px;
      }

      li .google-button {
        background-color: white;
        border: 1px solid #7743DB;
        color: #333;
      }

      li span {
        color: #898682;
      }
    }

    .login-list {
      width: 100%;
      box-sizing: border-box;
      list-style: none;
      display: inline;

      li {
        margin-top: 10px;

        button {
          background-color: #7743DB;
          color: white;
          border-radius: 50px;
          min-width: 100px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
