<div class="section1">
    <div class="contacts-container">
        <div class="contact-search">
            <input class="search-input" type="text" name="" id="">
            <button class="search-button" mat-raised-button><mat-icon>search</mat-icon></button>
        </div>
        <ul class="contact-list">
            <li class="contact"  *ngFor="let chat of chats">
                <button mat-button (click)="getMessegesForChat(chat.id)" > {{chat.name}}</button>
            </li>
        </ul>

    </div>
</div>
<div class="section2">
    <div class="chat-container">
        <div class="chat-header">
            <div class="chat-name">
                <input type="text" *ngIf="chatOwner(this.currentChat.id)&& !this.edit" [(ngModel)]="this.currentChat.name" class="chat-name-input">
                <span *ngIf="!chatOwner(this.currentChat.id) && !this.edit" >{{this.currentChat.name}}</span>
                <!-- Button next to the input field -->
                <button mat-button class="edit-chat-name-button"*ngIf="chatOwner(this.currentChat.id) "><i class="fa fa-edit"></i></button>
            </div>
        </div>
        <ul class="chat-list" >
            <li class="message"*ngFor="let m of allMesseges">
                    <div class="sent" *ngIf="isUsers(m)">
                        <span>{{m.content}} <small>{{m.date| date:'mediumTime' }}</small> </span> 
                    </div>
                    <div class="received" *ngIf="!isUsers(m)">
                        <span>{{m.content}} <small>{{m.date| date:'mediumTime'}}</small></span> 
                    </div>
            </li>
        </ul>
        <div class="sender-container">
            <div class="sender-box">
                <input class="sender-input" type="text" [(ngModel)]="content">
                <button mat-raised-button (click)="sendMessege()" class="sender-button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<script>
    function scrollToBottom() {
    var chatContainer = document.querySelector('.chat-list');
    chatContainer.scrollTop = chatContainer.scrollHeight;
}
</script>