<div class="section1">
    <div class="contacts-container">
        <div class="contact-search">
            <input class="search-input" type="text" name="" id="">
            <button class="search-button" mat-raised-button><mat-icon>search</mat-icon></button>
        </div>
        <ul class="contact-list">
            <li class="contact">
                <button mat-button>Jose Cota</button>
            </li>
            <li class="contact">
                <button mat-button>Jose Cota</button>
            </li>
            <li class="contact">
                <button mat-button>Jose Cota</button>
            </li>
            <li class="contact">
                <button mat-button>Jose Cota</button>
            </li>
            <li class="contact">
                <button mat-button>Jose Cota</button>
            </li>
            <li class="contact">
                <button mat-button>Jose Cota</button>
            </li>
            <li class="contact">
                <button mat-button>Jose Cota</button>
            </li>
            <li class="contact">
                <button mat-button>Jose Cota</button>
            </li>
            <li class="contact">
                <button mat-button>Jose Cota</button>
            </li>
            <li class="contact">
                <button mat-button>Jose Cota</button>
            </li>
            
        </ul>

    </div>
</div>
<div class="section2">
    <div class="chat-container">
        <ul class="chat-list">
            <li class="message">
                    <div class="sent">
                        <span>Hola! Escucha mi canción <small>00:18</small> </span> 
                    </div>
            </li>
            <li class="message">
                    <div class="received">
                        <span>Al rato we <small>00:22</small></span>  
                    </div>
            </li>
        </ul>
        <div class="sender-container">
            <div class="sender-box">
                <input class="sender-input" type="text">
                <button mat-raised-button class="sender-button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>