
.section1 {
    height: 100vh;
    width: 25%;
    background: linear-gradient(to bottom, #C3ACD0, #b88bd2);
    float: left;
    display: flex;
    justify-content: center;
  
    .contacts-container {
      margin-top: 120px;
      text-align: center;
      width: 80%;
      height: 70%;
      background: white;
      border: 2px solid #7743DB;
      border-radius: 25px;
      display: inline-block;
      justify-content: center;
  
      .contact-search {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        height: 10%;
        align-items: center;
        display: inline-block;
        .search-input{
            margin-top: 10px;
            width: 60%;
            height: 30px;
            box-sizing: border-box;
            border-radius: 50px;
            padding-left: 10px;
            border: 1px solid transparent;
            background-color: #d3d3d3;
            outline: none;
        }
        .search-button{
          margin-left: 10px;
          color: #fcf3e4;
          background-color: #7743DB;
          width: fit-content;
          border-radius: 50px;
          height: 30px;
        }
      }
  
      .contact-list {
        width: 98%;
        height: 85%;
        margin: auto;
        list-style: none;
        padding: 0; /* Remove default padding */
        display: flex;
        flex-direction: column; /* Arrange contacts vertically */
        overflow-y: scroll;
        border-bottom: 2px solid #7743DB;
        border-top: 2px solid #7743DB;
        .chatOwner{
          border: 2px solid #7743DB;
        }
        
  
        .contact {
          width: 100%;
          box-sizing: border-box; /* Include border in the total width */
          margin-bottom: 10px; /* Adjust margin as needed */
          padding: 10px; /* Add padding as needed */
          border-bottom: 1px solid #333;
          button{
            width: 100%;
          }
          
        }
      }
    }
  }
  
  .section2 {
    height: 100vh;
    width: 75%;
    background:linear-gradient(to bottom, #7743DB, #6627dc);
    display: flex;
    justify-content: center;
    float: left;
    .chat-container{
      
      margin-top: 120px;
      justify-content: center;
      align-items: center;
      width: 60%;
      height: 70%;
      background: white;
      border-radius: 25px;
      text-align: center;
      .chat-header{
        height: 10%;
        background-color: #d3d3d3;
        border-top-left-radius:25px ;
        border-top-right-radius:25px ;
        display: flex;
        align-items: center;
        .chat-name{
          background-color: #FFFF;
          min-width: 150px;
          max-width: max-content;
          border-radius: 25px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          font-size: 20px;
          margin-left: 20px;
        }
      }

      .chat-list{
        width: 80%;
        height: 70%;
        margin: 20px;
        list-style: none;
        background-color: #d3d3d3;
        padding: 10px;
        border-radius: 25px;
        display: inline-block;
        overflow-y: auto;
        
        .message{
          display: flex; // Use Flexbox for layout
          flex-direction: column; // Stack items vertically
          align-items: center; // Center-align items horizontally
          justify-content: center; // Center-align items vertically
          display: inline-block;
          width: 100%;
          margin: auto;
          min-height: 25px;
          max-height: fit-content;
          align-items: center;
          justify-content: flex-end;
          .received{
           background-color: green;
           min-width: 50px;
           max-width: 80%;
           border-radius: 25px;
           margin-left: 20px;
           float: left;
           min-height: 25px;
           max-height: fit-content;
           text-align: center;
           display: flex;
          align-items: center;
          justify-content: flex-start;
          }
          .sent{
          justify-content: flex-end; 
           float: right;
          
           
           span {
            margin-right: -10px;
            min-width: 50px;
           max-width: 80%;
           border-radius: 25px;
           min-height: 25px;
          padding: 8px;
            text-align: center;
            background-color: #6627dc;
           }
          }
          span {
            
            margin-left: 20px;
            margin-right: 20px;
            color: #fcf3e4;
            small{
              margin-left: 10px;
              color: #b88bd2;
            }
          }
        }
      }
      .sender-container{
        background-color: #d3d3d3;
        height: 15%;
        border-bottom: 0px solid transparent;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        .sender-box{
          margin-top: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          .sender-input{
            margin-top: 15px;
            margin-right: 10px;
            border-radius: 25px;
            width: 50%;
            height: 25px;
            padding-left: 10px;
            border: 1px solid transparent;
            background-color: white;
            outline: none;
          }
          .sender-button{
            margin-top: 15px;
            background-color: #7743DB;
            color: #fcf3e4;
            border-radius: 25px;
            height: 30px;
          }
        }
      }
    }
  }
  
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #FFFF;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8658dc;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #7743DB;
  }