
    <div class="main-container">
        <mat-tab-group (selectedIndexChange)="switchTab($event)">
            <mat-tab label="Songs">
                <div class="container">
                    <div class="search-container">
                        <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="filterSongs()" placeholder="Search for songs..." class="search-input">
                    </div>

                    <div class="songs-data">
                        <mat-paginator  #songsPaginator [length]="filteredSongs.length"
                                        [pageSize]="pageSize"
                                        (page)="changePage($event)">
                        </mat-paginator>
                        <ul class="item-data">
                            <li class="items">
                                <ul class="item-info">
                                    <li class="icon">

                                    </li>
                                    <li>
                                        <mat-icon>image</mat-icon>
                                    </li>
                                    <li>
                                        Name
                                    </li>
                                    <li>
                                        Artist
                                    </li>
                                    <li>
                                        Release Date
                                    </li>
                                    <li>

                                    </li>
                                </ul>
                            </li>
                            <li *ngFor="let item of getPaginatedItems(filteredSongs)" class="items">
                                <ul class="item-info">
                                    <li class="icon">
                                        <button class="play-button" mat-mini-fab><mat-icon>play_arrow</mat-icon></button>
                                    </li>
                                    <li>
                                        <img src="http://localhost:3000/assets/{{item.songImg}}" alt="">
                                    </li>
                                    <li>
                                        {{item.name}}
                                    </li>
                                    <li>
                                        {{item.artistName}}
                                    </li>
                                    <li>
                                        {{ formatDate(item.date)}}
                                    </li>
                                    <li>
                                        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                                        <mat-menu #menu="matMenu">
                                          <button mat-menu-item [routerLink]="['/artists', item.artistId]">Go to artist</button>
                                          <button mat-menu-item>Add to queue</button>
                                          <ng-container *ngIf="playlists && playlists.length > 0">
                                            <mat-menu #addToPlaylistMenu="matMenu">
                                              <button mat-menu-item *ngFor="let playlist of playlists" (click)="addToPlaylist(playlist.id, item.id)">
                                                {{ playlist.name }}
                                              </button>
                                            </mat-menu>
                                            <button mat-menu-item [matMenuTriggerFor]="addToPlaylistMenu">Add to playlist</button>
                                          </ng-container>
                                        </mat-menu>
                                        
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                
         
            </mat-tab>
            <mat-tab label="Artists">
                <div class="container">
                    <div class="search-container" >
                        <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="filterArtists()" placeholder="Search for artists..." class="search-input">
                    </div>

                    <div class="data">
                        <mat-paginator #artistsPaginator [length]="filteredArtists.length"
                                        [pageSize]="pageSize"
                                        (page)="changePage($event)">
                         </mat-paginator>
                        <mat-grid-list cols="5" rowHeight="1:1">
                            <mat-grid-tile *ngFor="let item of getPaginatedItems(filteredArtists)" class="artist-container">
                                <a [routerLink]="['/artists', item.id]">
                                <div class="artist-container">
                                    <div class="round-image-container">
                                        <img src="http://localhost:3000/assets/{{item.imgId}}" alt="">
                                    </div>
                                    <div class="artist-name">
                                        {{item.username}}
                                    </div>
                                </div>
                            </a>
                            </mat-grid-tile>
                            
                          </mat-grid-list>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Albums">
                <div class="container">
                    <div class="search-container">
                        <input type="text"  [(ngModel)]="searchQuery" (ngModelChange)="filterAlbums()" placeholder="Search for albums..." class="search-input">
                    </div>
                    <div class="data">
                        <mat-paginator #albumsPaginator  [length]="filteredAlbums.length"
                                        [pageSize]="pageSize"
                                        (page)="changePage($event)">
                        </mat-paginator>
                        <mat-grid-list cols="5" rowHeight="1:1">
                            <mat-grid-tile *ngFor="let item of getPaginatedItems(filteredAlbums)" class="artist-container">
                                <div class="artist-container">
                                    <a [routerLink]="['/album', item.id]">
                                    <div class="image-container">
                                        <img src="http://localhost:3000/assets/default_music.png" alt="">
                                    </div>
                                    <div class="artist-name">
                                        {{item.title}}
                                    </div>
                                </a>
                                </div>
                            </mat-grid-tile>
                            
                          </mat-grid-list>
                    </div>
                </div> 
            </mat-tab>
          </mat-tab-group>
    </div>

