
    <div class="main-container">
        <mat-tab-group>
            <mat-tab label="Songs"> 
                <div class="container">
                    <div class="search-container">
                        <input type="text" placeholder="Search for songs..." class="search-input">
                    </div>

                    <div class="songs-data">
                        <ul class="item-data">
                            <li class="items">
                                <ul class="item-info">
                                    <li class="icon">

                                    </li>
                                    <li>
                                        <mat-icon>image</mat-icon>
                                    </li>
                                    <li>
                                        Name
                                    </li>
                                    <li>
                                        Artist
                                    </li>
                                    <li>
                                        Album
                                    </li>
                                    <li>
                                        Release Date
                                    </li>
                                    <li>

                                    </li>
                                </ul>
                            </li>
                            <li class="items">
                                <ul class="item-info">
                                    <li class="icon">
                                        <button class="play-button" mat-mini-fab><mat-icon>play_arrow</mat-icon></button>
                                    </li>
                                    <li>
                                        <img src="http://localhost:3000/assets/default_music.png" alt="">
                                    </li>
                                    <li>
                                        Despacito
                                    </li>
                                    <li>
                                        Luis Fonsi
                                    </li>
                                    <li>
                                        Luis Fonsi
                                    </li>
                                    <li>
                                        2018
                                    </li>
                                    <li>
                                        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                                            <mat-menu #menu="matMenu">
                                            <button mat-menu-item>Add to playlist</button>
                                            <button mat-menu-item>Go to artist</button>
                                            <button mat-menu-item>Add to queue</button>
                                            </mat-menu>
                                    </li>
                                </ul>
                            </li>
                            <li *ngFor="let item of songs" class="items">
                                <ul class="item-info">
                                    <li class="icon">
                                        <button class="play-button" mat-mini-fab><mat-icon>play_arrow</mat-icon></button>
                                    </li>
                                    <li>
                                        <img src="http://localhost:3000/assets/default_music.png" alt="">
                                    </li>
                                    <li>
                                        {{item.name}}
                                    </li>
                                    <li>
                                        <!-- {{item.artistID}} -->
                                        Nombre
                                    </li>
                                    <li>
                                        Luis Fonsi
                                    </li>
                                    <li>
                                        {{item.date}}
                                    </li>
                                    <li>
                                        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                                            <mat-menu #menu="matMenu">
                                            <button mat-menu-item>Add to playlist</button>
                                            <button mat-menu-item>Go to artist</button>
                                            <button mat-menu-item>Add to queue</button>
                                            </mat-menu>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                
         
            </mat-tab>
            <mat-tab label="Artists">
                <div class="container">
                    <div class="search-container">
                        <input type="text" placeholder="Search for artists..." class="search-input">
                    </div>

                    <div class="data">
                        <mat-grid-list cols="5" rowHeight="1:1">
                            <mat-grid-tile class="artist-container">
                                <div class="artist-container">
                                    <div class="round-image-container">
                                        <img src="http://localhost:3000/assets/default.png" alt="">
                                    </div>
                                    <div class="artist-name">
                                        BadBunny
                                    </div>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile *ngFor="let item of artists" class="artist-container">
                                <a [routerLink]="['/artists', item.id]">
                                <div class="artist-container">
                                    <div class="round-image-container">
                                        <img src="http://localhost:3000/assets/default.png" alt="">
                                    </div>
                                    <div class="artist-name">
                                        {{item.username}}
                                    </div>
                                </div>
                            </a>
                            </mat-grid-tile>
                            
                          </mat-grid-list>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Albums">
                <div class="container">
                    <div class="search-container">
                        <input type="text" placeholder="Search for albums..." class="search-input">
                    </div>
                    <div class="data">
                        <mat-grid-list cols="5" rowHeight="1:1">
                            <mat-grid-tile class="artist-container">
                                
                                <div class="artist-container">
                                    <div class="image-container">
                                        <img src="http://localhost:3000/assets/default_music.png" alt="">
                                    </div>
                                    <div class="artist-name">
                                        DATA
                                    </div>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile *ngFor="let item of albums" class="artist-container">
                                <div class="artist-container">
                                    <a [routerLink]="['/album', item.id]">
                                    <div class="image-container">
                                        <img src="http://localhost:3000/assets/default_music.png" alt="">
                                    </div>
                                    <div class="artist-name">
                                        {{item.username}}
                                    </div>
                                </a>
                                </div>
                            </mat-grid-tile>
                            
                          </mat-grid-list>
                    </div>
                </div> 
            </mat-tab>
          </mat-tab-group>
    </div>

