
    <div class="main-container">
        <div class="search-container">
            <input type="text" placeholder="Search for artists albums or songs..." class="search-input">
        </div>

        <div class="playlist-container">
            <h1>Popular Artists</h1>
            <ul class="playlist-list">
                <li class="playlist-item" *ngFor="let artist of artists">
                    <a [routerLink]="['/artists', artist.id]">
                        <div class="playlist-image">
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                        <div class="playlist-name">{{ artist.username }}</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="playlist-container">
            <h1>Popular Albums</h1>
            <ul class="playlist-list">
                <li class="playlist-item" *ngFor="let album of albums">
                    <div class="playlist-image">
                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                    <div class="playlist-name">{{ album.title }}</div>
                </li>
            </ul>
        </div>

    </div>

