
<div class="section1"></div>
<div class="section2"></div>

<div class="login-section">
    <div class="login-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ul class="login-list">
            <li>
                <mat-form-field>
                    <mat-icon matPrefix>account_circle</mat-icon>
                    <input matInput placeholder="Username" formControlName="username">
                </mat-form-field>
            </li>
            <li>
                <mat-form-field>
                    <mat-icon matPrefix>key</mat-icon>
                    <input matInput placeholder="Password" formControlName="password" type="password">
                </mat-form-field>
            </li>
            <li>
                <button mat-raised-button>Login</button>
            </li>
            <li><span>Or</span></li>
            <li>
                <button class="google-button" mat-raised-button >Log in with Google <i class="fa fa-google-plus" aria-hidden="true"></i></button>
            </li>
        </ul>
        </form>
        <hr>
        <ul class="signup-list">
            <li style="font-size: 20px;">New Account?</li>
            <li>
                <button mat-raised-button>Sign Up</button>
            </li>
        </ul>

    </div>
</div>
