<div class="section1">
    <div class="user-image-container">
        <!-- <i class="fa fa-user-circle user-image" aria-hidden="true"></i> -->
        <img class="user-image" src="http://localhost:3000/assets/{{artist.imgId}}" alt="">
    </div>
    <h2>{{artist.username}}</h2>
    <h2>Artist<mat-icon>grade</mat-icon></h2>
    <h2><button mat-raised-button *ngIf="haveChat() " (click)="openDialog()">Join the community</button></h2>

    <div class="events-container">
        <h2>Upcoming Events</h2>
      
        <ng-container *ngIf="events && events.length > 0; else noEvents">
          <ul class="events-list">
            <li class="event-item" *ngFor="let event of events">
              {{ event.name }} - {{ event.date | date }}: {{ event.category }}
            </li>
          </ul>
        </ng-container>
      
        <ng-template #noEvents>
          <p>No upcoming events</p>
        </ng-template>
      </div>
    
</div>
<div class="section2">
    <h2></h2>
    <div class="user-info-container">
        <h2 class="bubble bubble-bottom-left">Hi! This is: {{ artist.username }}</h2>
    </div>
    <div class="song-container">
        <h1>Songs</h1>
        <ul class="song-list">
          <li *ngFor="let song of songs" class="song-item">
            <div class="song-image">
               <img src="http://localhost:3000/assets/{{song.songImg}}" alt="">
            </div>
            <div class="song-name">{{ song.name }}</div>
          </li>
        </ul>
      </div>
      <div  class="album-container">
        <h1>Albums</h1>
        <ul class="album-list">
            <li *ngFor="let album of albums" class="album-item">
                <div class="album-image">
                    <img src="http://localhost:3000/assets/{{album.albumImg}}" alt="">
                </div>
                <div class="album-name">
                    {{ album.title }}
                </div>
            </li> 
        </ul>
    </div>
</div>

