<div class="section1">
    <div class="user-image-container">
        <i class="fa fa-user-circle user-image" aria-hidden="true"></i>
    </div>
    <h2>{{artist.username}}</h2>
    <h2>Artist<mat-icon>grade</mat-icon></h2>
    <h2><button mat-raised-button (click)="openDialog()">Join the community</button></h2>

    <div class="events-container">
        <h2>Upcoming Events</h2>
      
        <ng-container *ngIf="events && events.length > 0; else noEvents">
          <ul class="events-list">
            <li class="event-item" *ngFor="let event of events">
              {{ event.name }} - {{ event.date | date }}: {{ event.category }}
            </li>
          </ul>
        </ng-container>
      
        <ng-template #noEvents>
          <p>No upcoming events</p>
        </ng-template>
      </div>
    
</div>
<div class="section2">
    <h2></h2>
    <div class="user-info-container">
        <h1>Welcome</h1>
        <ul class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, harum! Commodi dignissimos, iure aspernatur rem iusto id quidem hic vel.
            
            
        </ul>
    </div>
    <div class="playlist-container">
        <h1>Canciones</h1>
        <ul class="playlist-list">
            <li class="playlist-item">
                <div class="playlist-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="playlist-name">Rock</div>
            </li> 
        </ul>
        <ul class="playlist-options">
            
            
        </ul>
    </div>
    <div class="playlist-container">
        <h1>Albums</h1>
        <ul class="playlist-list">
            <li class="playlist-item">
                <div class="playlist-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="playlist-name">Rock</div>
            </li> 
        </ul>
        <ul class="playlist-options">
            
            
        </ul>
    </div>

</div>

