.section1 {
    height: 150vh;
    width: 25%;
    background: linear-gradient(to bottom, #7743DB, #6627dc);
    float: left;
    z-index: -1000;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */

    .events-container {
        
        width: 90%;
        text-align: center;
        margin-top: 20px;
        color: #FFFBF5;
        height: 25%; /* Adjust the height as needed */
        overflow-y: auto; /* Enables vertical scrolling */
        padding: 10px;
        border-radius: 5px;
        background:linear-gradient(to bottom, #C3ACD0, #b88bd2); /* Optional: for better visibility */
        width

        h2 {
            margin-bottom: 10px;
            font-size: 1.2em;
        }

        .events-list {
            list-style: none;
            padding: 0;
            margin: 0;
            height: 100%;
        }

        .event-item {
            background-color: #7743DB;
            margin-bottom: 5px;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        
    }
    .add-event-button {
        background-color: white;
        color: black;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 10px;

        &:hover {
            background-color: #7743DB;
        }
    }
    

    .user-image-container {
        width: 100%;
        text-align: center;
        margin-top: 150px;

        .user-image {
            // font-size: 180px;
            // width: 60%;
            height: 100px;
            border-radius: 50%;
            border: 2px solid #FFFBF5; 
            // color: #FFFBF5;
            clip-path: circle();
        }
    }

    h2 {
        text-align: center;
        color: #FFFBF5;
        margin: 10px 0;
    }

    button {
        margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    }
}

.section2 {
    height: 150vh; /* Full viewport height */
    width: 75%; /* 75% width */
    background: linear-gradient(to bottom, #C3ACD0, #b88bd2);
    float: left;
    z-index: -1000;
    .user-info-container{
        margin-top: 150px;
        padding: 10px;
        .bubble {
            position: relative;
            font-family: sans-serif;
            font-size: 18px;
            line-height: 24px;
            width: 300px;
            background: #fff;
            border-radius: 40px;
            padding: 24px;
            text-align: center;
            color: #000;
            font-weight: bold;
        }
        .bubble-bottom-left:before {
            content: "";
            width: 0px;
            height: 0px;
            position: absolute;
            border-left: 24px solid #fff;
            border-right: 12px solid transparent;
            border-top: 12px solid #fff;
            border-bottom: 20px solid transparent;
            left: 32px;
            bottom: -24px;
        }
        .user-options{
            list-style: none;
            .u-option{
                display: inline;
                margin: 10px;
                button{
                    background-color: #7743DB;
                    color: #FFFBF5;
                }
            }
        }

    }
    .album-container, .song-container{
        margin-top: 50px;
        margin-left: 10px;
        width: 90%;
        
        h1 {
            margin-left: 10px;
            border-bottom: 3px solid #FFFBF5;
            color: #FFFBF5;
            width: min-content;
        }
        .album-list, .song-list{
            list-style: none;
            overflow-x: auto;
            background:linear-gradient(to bottom, #7743DB, #6627dc);
            width: 100%;
            border-left: 6px solid #FFFBF5;
            border-right: 6px solid #FFFBF5;
            box-sizing: border-box;
            white-space: nowrap;
            height: 250px;
    
            .album-item, .song-item{
                // border: solid black 1px;
                width: 200px;
                display: inline-block;
                .album-image, .song-image{
                    // padding: auto;
                    margin: auto;
                    margin-top: 30px;
                    text-align: center;
                    img{
                        width: 150px; /* Ajusta según sea necesario */
                        height: 150px; /* Ajusta según sea necesario */
                        border-radius: 10px;
                        border: 4px solid #FFFBF5;
                        background-color: #494949;
                        object-fit: cover; /* Asegura que la imagen cubra el contenedor */
                    }
                }
                .album-name, .song-name{
                    margin-top: 10px;
                    text-align: center;
                    color: #FFFBF5;
                    font-size: 14px;
                    white-space: normal; // Agregado para permitir el ajuste automático de línea
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .album-options, song-options{
    
            .p-option{
                display: inline-block;  
                button{
                    margin-bottom: 60px;
                    background-color: #7743DB;
                    color: #FFFBF5;
                }
            }
        }
    }
}


::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }