<div class="section1">
    <div class="user-image-container">
        <i class="fa fa-user-circle user-image" aria-hidden="true"></i>
    </div>
</div>
<div class="section2">
    <div class="user-info-container">
        <h1>Username</h1>
        <ul class="user-options">
            <li class="u-option">
                <button mat-raised-button>Chat</button>
            </li>
        </ul>
    </div>
    <div class="playlist-container">
        <h1>Playlists</h1>
        <ul class="playlist-list">
            <li class="playlist-item">
                <div class="playlist-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="playlist-name">Rock</div>
            </li> 
            <li class="playlist-item">
                <div class="playlist-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="playlist-name">Pop</div>
            </li> 
            <li class="playlist-item">
                <div class="playlist-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="playlist-name">Reggae</div>
            </li> 
            <li class="playlist-item">
                <div class="playlist-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="playlist-name">Rock</div>
            </li> 
            <li class="playlist-item">
                <div class="playlist-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="playlist-name">Pop</div>
            </li> 
            <li class="playlist-item">
                <div class="playlist-image">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="playlist-name">Reggae</div>
            </li> 
            
        </ul>
        <ul class="playlist-options">
            <li class="p-option"><button mat-raised-button >Create Playlist</button></li>
            
        </ul>
    </div>
</div>