/* Ajusta el estilo del botón de cerrar */
.close-button {
    color: white;
    background-color: #7743DB;
    margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
  }
  
  /* Estilo para el contenido de las letras */
  .lyrics-content {
    margin-top: 10px;
    max-height: 300px; /* Ajusta la altura máxima según sea necesario */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
  }
  
  /* Estilo para las acciones (puedes ajustar según sea necesario) */
  .actions-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }